<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="AdministradoresPortBinding" />
                <binding name="CentrosDeSaludPortBinding" />
                <binding name="EmpleadosPortBinding" />
                <binding name="PersonasPortBinding" />
                <binding name="PolizasSOATPortBinding" />
                <binding name="PolizasVehicularesPortBinding" />
                <binding name="SiniestrosPortBinding" />
                <binding name="SiniestrosSOATPortBinding" />
                <binding name="SiniestrosVehicularesPortBinding" />
                <binding name="TalleresPortBinding" />
                <binding name="VehiculosPortBinding" />
                <binding name="ImagenesSiniestrosPortBinding" />
                <binding name="ImagenesSiniestrosPortBinding1" />
                <binding name="InvolucradosPortBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/SoftAsegWS/ImagenesSiniestros"
                binding="basicHttpBinding" bindingConfiguration="ImagenesSiniestrosPortBinding"
                contract="SiniNetWSImagenesSiniestros.ImagenesSiniestros"
                name="ImagenesSiniestrosPort" />
            <endpoint address="http://localhost:8080/SoftAsegWS/Administradores"
                binding="basicHttpBinding" bindingConfiguration="AdministradoresPortBinding"
                contract="SiniNetWSAdministradores.Administradores" name="AdministradoresPort" />
            <endpoint address="http://localhost:8080/SoftAsegWS/CentrosDeSalud"
                binding="basicHttpBinding" bindingConfiguration="CentrosDeSaludPortBinding"
                contract="SiniNetWSCentrosDeSalud.CentrosDeSalud" name="CentrosDeSaludPort" />
            <endpoint address="http://localhost:8080/SoftAsegWS/Empleados"
                binding="basicHttpBinding" bindingConfiguration="EmpleadosPortBinding"
                contract="SiniNetWSEmpleados.Empleados" name="EmpleadosPort" />
            <endpoint address="http://localhost:8080/SoftAsegWS/ImagenesSiniestros"
                binding="basicHttpBinding" bindingConfiguration="ImagenesSiniestrosPortBinding1"
                contract="SiniNetWSImagenesSiniestros.ImagenesSiniestros"
                name="ImagenesSiniestrosPort1" />
            <endpoint address="http://localhost:8080/SoftAsegWS/Involucrados"
                binding="basicHttpBinding" bindingConfiguration="InvolucradosPortBinding"
                contract="SiniNetWSInvolucrados.Involucrados" name="InvolucradosPort" />
            <endpoint address="http://localhost:8080/SoftAsegWS/Personas"
                binding="basicHttpBinding" bindingConfiguration="PersonasPortBinding"
                contract="SiniNetWSPersonas.Personas" name="PersonasPort" />
            <endpoint address="http://localhost:8080/SoftAsegWS/PolizasSOAT"
                binding="basicHttpBinding" bindingConfiguration="PolizasSOATPortBinding"
                contract="SiniNetWSPolizasSOAT.PolizasSOAT" name="PolizasSOATPort" />
            <endpoint address="http://localhost:8080/SoftAsegWS/PolizasVehiculares"
                binding="basicHttpBinding" bindingConfiguration="PolizasVehicularesPortBinding"
                contract="SiniNetWSPolizasVehiculares.PolizasVehiculares"
                name="PolizasVehicularesPort" />
            <endpoint address="http://localhost:8080/SoftAsegWS/Siniestros"
                binding="basicHttpBinding" bindingConfiguration="SiniestrosPortBinding"
                contract="SiniNetWSSiniestros.Siniestros" name="SiniestrosPort" />
            <endpoint address="http://localhost:8080/SoftAsegWS/SiniestrosSOAT"
                binding="basicHttpBinding" bindingConfiguration="SiniestrosSOATPortBinding"
                contract="SiniNetWSSiniestrosSOAT.SiniestrosSOAT" name="SiniestrosSOATPort" />
            <endpoint address="http://localhost:8080/SoftAsegWS/SiniestrosVehiculares"
                binding="basicHttpBinding" bindingConfiguration="SiniestrosVehicularesPortBinding"
                contract="SiniNetWSSiniestrosVehiculares.SiniestrosVehiculares"
                name="SiniestrosVehicularesPort" />
            <endpoint address="http://localhost:8080/SoftAsegWS/Talleres"
                binding="basicHttpBinding" bindingConfiguration="TalleresPortBinding"
                contract="SiniNetWSTalleres.Talleres" name="TalleresPort" />
            <endpoint address="http://localhost:8080/SoftAsegWS/Vehiculos"
                binding="basicHttpBinding" bindingConfiguration="VehiculosPortBinding"
                contract="SiniNetWSVehiculos.Vehiculos" name="VehiculosPort" />
        </client>
    </system.serviceModel>
</configuration>